*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: grey;

}

body{
  background-color: burlywood;

}

.search-body {
  margin-top: 200px;
  margin-left: 520px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  height: 100px;
  width: 500px;
  text-align: center;
  margin-top: 10px;
  margin-left: 390px;
  margin-right: 800px;
  padding: 10px;
  border: none;
  border-radius: 18px;
}

.search-box {
  background-color: white;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}




.search-box{
  font-size: 1.5 rem;
  outline: none;
}

.main-card, .main-title, .main-ing{
  background-color: beige;
}

.main-title {
  color: hotpink;
}